@model TabloidMVC.Models.Subscription

@{
    ViewData["Title"] = "CreateSub";
}

<h1>Success!</h1>

<div>
    <h4>Subscription</h4>
    <hr />
    <p>Subscription was a success!</p>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back Home</a>
</div>
